.archive-container {
    border: 1px solid #000000;
    width: 80%;
}

.card {
    background-color: #d6d6d6;
    margin: 15px;
    width: 275px;
    padding: 15px;
}

.card > img {
    width: 80%;
    margin: auto;
    display: block;
}

.queue {
    display: flex;
}

