<!DOCTYPE html>
<html>
<head>
  <title>K+A win react</title>

  <!-- We'll load React dependencies on all pages for this app. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- Include any page-specific Javascript using this block. -->
  <script src="/static/js/card.jsx" type="text/jsx"></script>
  <script src="/static/js/queue.jsx" type="text/jsx"></script>

  <script src="/static/js/miniCard.jsx" type="text/jsx"></script>
  <script src="/static/js/archive.jsx" type="text/jsx"></script>

  <script src="/static/js/enqueueForm.jsx" type="text/jsx"></script>
  <script src="/static/js/enqueue.jsx" type="text/jsx"></script>
  
  <script src="/static/js/loginForm.jsx" type="text/jsx"></script>

  <script src="/static/js/header.jsx" type="text/jsx"></script>
  <script src="/static/js/footer.jsx" type="text/jsx"></script>
  <script src="/static/js/main.jsx" type="text/jsx"></script>
  <script src="/static/js/app.jsx" type="text/jsx"></script>
  <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>

  <div id="app"></div>
</body>
</html>
