<!DOCTYPE html>
<html>
<head>
  <title>K+A win react</title>

  <!-- We'll load React dependencies on all pages for this app. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

  <!-- Include any page-specific Javascript using this block. -->

  <link href="/static/css/site.css" rel="stylesheet">
</head>
<body>
  <h1>Welcome to Balloonicorn's Trading Card site</h1>


</body>
</html>
